<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>振动分析系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/m.css">
    <script src="static/js/jquery-1.4.4.min.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <script>
        $(document).ready(function () {
            // 初始化隐藏loading容器
            document.getElementById('loading-image').style.display='none';
            // addEventListener() 方法用于向指定元素添加事件句柄
            document.getElementById("fig1").addEventListener('contextmenu', function (e) {
                // event.preventDefault() 方法阻止元素发生默认的行为
                e.preventDefault();
            }, false);
        });

        let option_draw = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis',
                triggerOn: 'mousemove|click',
            },
            legend: {
                data: []
            },
            xAxis: {
                type: 'value',
                name: '样本数',
                nameLocation: 'center',
                nameGap: 35,
                splitNumber: 10,
                splitLine: {
                    show: true
                },
                scale: true,
            },
            yAxis: {
                type: 'value',
                name: '特征值系数',
                nameLocation: 'center',
                nameGap: 35,
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: true
                },
                // scale: true,
            },
            series: [],
            // dataZoom: [{
            //     //
            // }],
            toolbox: { // 工具栏
                feature: {
                    dataZoom: { // 框选缩放功能
                        show: true, // show为true时，才能触发takeGlobalCursor事件
                        yAxisIndex: 'none',
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true,
                        type: 'png',
                    },
                }
            }
        };

        function setOption_draw (fig, option, title_text, colors, data, wind_turbine_selected) {
            // JSON对象复制-深拷贝
            option = JSON.parse(JSON.stringify(option_draw));
            option.title.text = title_text;
            for (let c in wind_turbine_selected) {
                option.legend.data.push(wind_turbine_selected[c]);
                let ser = {
                    name: wind_turbine_selected[c],
                    type: 'line',
                    lineStyle: {
                        width: 1
                    },
                    itemStyle: {
                        color: colors[c]
                    },
                    showSymbol: false,
                    hoverAnimation: true,
                    data: data[wind_turbine_selected[c]],
                    markPoint: {
                        data: [],
                    }
                };
                option.series.push(ser);
            }
            if (option.series[0].data.length !== 0) {
                fig.setOption(option);
            }
        }

        $(document).ready(function () {
            $("input[name=draw]").click(function () {
                if (fig1.dispose) {
                    fig1.dispose();
                }
                fig1 = echarts.init(document.getElementById('fig1'), 'white', {renderer: 'canvas'});
                // let dataset = {'farm_name': farm_name,
                //     'wind_turbine_name': wind_turbine_name,
                //     'sampling_time': pn['name'],
                //     'point': sn[0]['name'],
                // };
                $.ajax({
                    url: "/draw",
                    type: "POST",
                    // data: dataset,
                    dataType: "json",
                    beforeSend: function () {
                        document.getElementById('loading-image').style.display='';
                    },
                    complete: function () {
                        // $('#loading-image').remove();
                        document.getElementById('loading-image').style.display='none';
                    },
                    success: function (data) {
                        console.log(data);
                        let option_draw = {};
                        setOption_draw(fig1, option_draw, '', ['red', 'blue', 'orange'], data, ['叶片1', '叶片2', '叶片3']);
                        // 增加自定义参数而不覆盖原本的默认参数
                        fig1.on('click', (params) => {
                            addmarkPoint (params, fig1);
                            document.getElementById('fig1_side').innerHTML = params.value[0]+'<br>'+params.value[1]+'<br>';
                        });
                        fig1.on('contextmenu', (params) => { deletemarkPoint (params, fig1) });
                    }
                });
            });
        });

        // 添加标注点
        function addmarkPoint (params, fig) {
            // console.log(params);
            if (params.componentType !== 'series') return;
            let [x, y] = params.value;
            let op = fig.getOption();
            // console.log(op);
            let markPointData = op.series[params.seriesIndex].markPoint.data;
            markPointData.push({
                name: `x:${x}\ny:${y}`,
                coord: params.value,
                label: {
                    show: true,
                    formatter: `x:${x}\ny:${y}`,
                    position: 'top'
                },
                symbolSize: 4,
                symbol: 'rect',
                itemStyle: {
                    color: '#000'
                }
            });
            let series = op.series;
            series[params.seriesIndex] = {
                markPoint: {
                    data: markPointData
                }
            };
            fig.setOption({
                series: series
            });
        }

        // 删除标注点
        function deletemarkPoint (params, fig) {
            // console.log(params);
            if (params.componentType !== 'markPoint') return;
            let op = fig.getOption();
            // console.log(op);
            let markPointData = op.series[params.seriesIndex].markPoint.data;
            let newMarkPointData = markPointData.filter(({ name }) => name !== params.name);
            let series = op.series;
            series[params.seriesIndex] = {
                markPoint: {
                    data: newMarkPointData
                }
            };
            fig.setOption({
                series: series
            });
        }

        window.onresize = function () {
            if (fig1.dispose) {
                // ECharts随窗口大小改变而自适应
                fig1.resize();
            }
        };
    </script>
</head>
<body>
    <div class="left">
        <div class="logo"><img src="http://www.bj-nego.com/res/tpl/default/images/icon/logo.jpg" alt=""></div>
        <div class="query">
        </div>
    </div>
    <div class="middle">
        <div class="toolbar">
            <input type="submit" value="绘图" id="toolbar1" name="draw">
        </div>
        <div class="figure">
            <div id="loading-image" class="loading">加载中...</div>
            <div id="fig1"></div>
        </div>
        <div class="figure_side">
            <div id="fig1_side"></div>
        </div>
    </div>
    <div class="right">
        <div id="farm_info" class="info"></div>
        <div id="wind_turbine_info" class="info"></div>
        <div id="fault_history" class="info"></div>
    </div>
</body>
</html>