.card {
    background-color: #fff;
    height: 75%;
    margin: 0 5px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

