.left {
    height: 1200px;
    width: 20%;
    background: pink;
    float: left;
}

.middle {
    height: 1200px;
    width: 60%;
    background: skyblue;
    float: left;
}

.right {
    height: 1200px;
    width: 20%;
    background: #00B83F;
    float: left;
}

.logo {
    height: 45px;
    width: 100%;
    background: orange;
}

.query {
    height: 500px;
    width: 100%;
    background: #81ffa7;
}

#time_info {
    height: 50px;
    width: 100%;
    background: #f885ff;
}

.ztree {
    height: 500px;
    overflow: auto;
}

.toolbar {
    height: 50px;
    width: 100%;
    background: #9ed0ff;
}

.figure {
    height: 1050px;
    width: 100%;
    background: white;
}

#fig1 {
    height: 320px;
    width: 100%;
}

#fig2 {
    height: 320px;
    width: 100%;
}

#fig3 {
    height: 320px;
    width: 100%;
}

.info {
    height: 200px;
    width: 100%;
}

#farm_info {
    background: #f885ff;
}

#wind_turbine_info {
    background: #ffffb8;
}

#fault_history {
    background: #81ffa7;
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 18px 0 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: navy;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-top: 5px;
    position: relative;
    left: 5px;
}

input[type=submit]:hover {
    background-color: #00B83F;
}

input[name=q] {
    background-color: navy;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
    position:relative;
    left: 60px;
}

.layui-form-label, .layui-input {
    margin: 18px 0 0 10px;
}

.pop_main {
    display: none;
}

.pop_con {
    width: 500px;
    height: 50px;
    background: #81ffa7;
    border-radius: 3px;
    position: fixed;
    left: 50%;
    top: 25%;
    margin-left: -250px;
    margin-top: -150px;
    z-index: 9999;
    border: 1px solid #f0f0f0;
}

.mask {
    width: 100%;
    height: 100%;
    background: #666666;
    z-index: 9000;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

